bcrypt==4.0.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==40.0.2
docker==6.1.2
elastic-transport==8.4.0
elasticsearch==8.8.0
idna==3.4
numpy==1.24.3
packaging==23.1
pandas==2.0.1
paramiko==3.1.0
psycopg2-binary==2.9.6
pycparser==2.21
PyNaCl==1.5.0
python-dateutil==2.8.2
pytz==2023.3
requests==2.30.0
six==1.16.0
SQLAlchemy==2.0.15
typing_extensions==4.6.3
tzdata==2023.3
urllib3==1.26.16
websocket-client==1.5.1
